@model IEnumerable<BikeShop.Models.ViewModels.RetailStoreViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.STOREID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.STORENAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PHONE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CONTACTFIRSTNAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CONTACTLASTNAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ADDRESS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ZIPCODE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CITYID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.STOREID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.STORENAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PHONE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CONTACTFIRSTNAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CONTACTLASTNAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ADDRESS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ZIPCODE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CITYID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.STOREID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.STOREID })
        </td>
    </tr>
}

</table>
