@model IEnumerable<BikeShop.Models.ViewModels.PaintViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PaintID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ColorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ColorStyle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ColorList)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateIntroduced)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateDiscontinued)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PaintID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ColorName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ColorStyle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ColorList)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateIntroduced)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateDiscontinued)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.PaintID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.PaintID })
        </td>
    </tr>
}

</table>
