@model IEnumerable<BikeShop.Models.ViewModels.ComponentNameViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.COMPONENTNAME1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ASSEMBLYORDER)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DESCRIPTION)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.COMPONENTNAME1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ASSEMBLYORDER)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DESCRIPTION)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.COMPONENTNAME1 }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.COMPONENTNAME1 })
        </td>
    </tr>
}

</table>
